<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.ecci.hamers">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Internet + sdcard access (for caching purposes) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Google Maps -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name="nl.ecci.hamers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
        </activity>
        <activity
            android:name=".beers.NewReviewActivity"
            android:label="@string/new_review"
            android:parentActivityName="nl.ecci.hamers.beers.SingleBeerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.beers.SingleBeerActivity" />
        </activity>
        <activity
            android:name="nl.ecci.hamers.beers.SingleBeerActivity"
            android:label="Details"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zondersikkel.nl"
                    android:pathPrefix="/beers"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.ecci.hamers.events.SingleEventActivity"
            android:label="Activiteit"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zondersikkel.nl"
                    android:pathPrefix="/events"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.ecci.hamers.events.NewEventActivity"
            android:label="@string/new_event"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
        </activity>
        <activity
            android:name="nl.ecci.hamers.news.NewNewsActivity"
            android:label="@string/new_news"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
        </activity>
        <activity
            android:name="nl.ecci.hamers.beers.NewBeerActivity"
            android:label="@string/new_beer"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
        </activity>
        <activity
            android:name="nl.ecci.hamers.helpers.SingleImageActivity"
            android:label="Hamers"
            android:parentActivityName="nl.ecci.hamers.beers.SingleBeerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
        </activity>
        <activity
            android:name="nl.ecci.hamers.users.SingleUserActivity"
            android:label="Lid"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
        </activity>
        <activity
            android:name="nl.ecci.hamers.meetings.SingleMeetingActivity"
            android:label="Vergadering"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zondersikkel.nl"
                    android:pathPrefix="/meetings"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.ecci.hamers.meetings.NewMeetingActivity"
            android:label="Nieuwe vergadering"
            android:parentActivityName="nl.ecci.hamers.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.ecci.hamers.MainActivity" />
        </activity>

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.penwindow.enable"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Notifications -->
        <service android:name="nl.ecci.hamers.fcm.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="nl.ecci.hamers.fcm.InstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/launcher_icon" />
        <!-- Set color used with incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/material_red_dark" />

    </application>
</manifest>
